h1, .bd-article h1 {
  font-size: 1.8rem !important;
}

h2, .bd-article h2 {
  font-size: 1.5rem !important;
}

h3, .bd-article h3 {
  font-size: 1.25rem !important;
}

h4, .bd-article h4 {
  font-size: 1.1rem !important;
}

h5, .bd-article h5 {
  font-size: 1rem !important;
}

h6, .bd-article h6 {
  font-size: 0.9rem !important;
}

div.bd-sidebar .navbar-brand {
  text-align: center;
  width: 100%;
}

div.bd-sidebar .navbar-brand span {
  display: block;
  text-align: center;
}
